In [1]:
import os
import pandas as pd
import re
path = "/Volumes/gurindapalli/projects/Plasticity_training/tone-training-app/participants/livia/Perception with Full Feedback/session_tracking/session5.csv"

In [2]:
session_tracking_folder = os.path.dirname(path)

In [3]:
session_tracking_folder

'/Volumes/gurindapalli/projects/Plasticity_training/tone-training-app/participants/livia/Perception with Full Feedback/session_tracking'

In [4]:
files = os.listdir(session_tracking_folder)
for file in files:
    print(int(re.findall(r'\d+', file)[0]))

1
3
2

In [7]:
content = []
for file in os.listdir(session_tracking_folder):
    if file.endswith("csv"):
        path = os.path.join(session_tracking_folder, file)
        df_temp = pd.read_csv(path)
        df_temp["session"] = int(re.findall(r'\d+', file)[0])
        content.append(df_temp)

df = pd.concat(content, axis=0, ignore_index=True)
df["accuracy"] = (df["accuracy"].fillna(0) * 100).round(2)
df

    session        date  subject  accuracy
0         1  2025-04-24        1      0.00
1         1  2025-04-24        2    100.00
2         1  2025-04-24        3      0.00
3         1  2025-04-24        4      0.00
4         1  2025-04-24  overall     50.00
5         3  2025-04-24        1     26.67
6         3  2025-04-24        2     46.67
7         3  2025-04-24        3     25.00
8         3  2025-04-24        4     28.57
9         3  2025-04-24  overall     31.67
10        2  2025-04-24        1      0.00
11        2  2025-04-24        2      0.00
12        2  2025-04-24        3      0.00
13        2  2025-04-24        4      0.00
14        2  2025-04-24  overall      0.00